<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="freight" >
  <xacro:include filename="$(find fetch_description)/robots/freight.urdf" />
  <xacro:include filename="$(find fetch_gazebo)/robots/macros.xacro" />

  <xacro:freight_gazebo />

  <!-- Load the plugin -->
  <gazebo>
    <plugin name="fetch_gazebo_plugin" filename="libfetch_gazebo_plugin.so"/>
  </gazebo>

</robot>
